.ContactBannerStyles {
  padding: 10rem 10rem;
}

.contactBanner-wrapper {
  background-color: var(--deep-dark);
  border-radius: 12px;
  padding: 5rem 0rem;
  text-align: center;
}

.contactBanner-heading {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.contact-text {
  font-size: 16px;
}

@media only screen and (max-width: 768px) {
  .contactBanner-heading {
    font-size: 1.8rem;
  }
}
